node_modules/
lerna-debug.log
npm-debug.log
packages/*/lib
packages/*/dist
.idea
tsconfig.build.tsbuildinfo
package-lock.json
packages/*/package-lock.json
packages/hypernet-core/log.txt
packages/hypernet-core/temp.txt
*.swp
*.swo
