node_modules/
lerna-debug.log
npm-debug.log
packages/*/lib
packages/*/dist
packages/*/artifacts
packages/*/cache
.idea
*.tsbuildinfo
package-lock.json
packages/*/package-lock.json
packages/hypernet-core/log.txt
packages/hypernet-core/temp.txt
packages/developer-ui/debug.log
packages/*/src/*.d.ts
packages/*/coverage
packages/*/yarn-error.log
*.swp
*.swo
*/yarn-error.log
/lib
yarn-error.log
.DS_Store
build/
out/linecounter.json
out/linecounter.txt
packages/test-gateway/src/connector.js
