node_modules/
lerna-debug.log
npm-debug.log
packages/*/lib
packages/*/dist
.idea
*.tsbuildinfo
package-lock.json
packages/*/package-lock.json
packages/hypernet-core/log.txt
packages/hypernet-core/temp.txt
packages/web-demo/debug.log
packages/*/src/*.d.ts
*.swp
*.swo
*/yarn-error.log
/lib
coverage/
